<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "config.dtd">
<config name="dell" alias=" @ Dell ">
  <log level="debug" />
  <database user="amo" password="cisco123"            
            name="service_discovery" host="localhost" 
            socket="/opt/lampp/var/mysql/mysql.sock"  
            port="3306"/> 
  <domain server="ks.vyncke.org"              
          zone="amo.vyncke.org"               
          keyname="amoupdate."                
          keyvalue="BK1wQkLhDySTEMhLDeDSdg==" 
          algorithm="HMAC_MD5"                
          ttl="5" />
  <ip version="4" alias=":IPv4)" />
  <ip version="6" alias=":IPv6)" />
  <interface name="wlp4s0" alias="(Wifi" />
  <interface name="p5p1" alias="(Ethernet" />
  <rules>
    <service name=".*" type=".*" interface-name=".*"  
             interface-ip=".*" hostname=".*" port=".*">
      allow
    </service>
  </rules>
</config>
